# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# ASP.NET Core
appsettings.Development.json

# NuGet
*.nupkg
packages/